@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
@import "variables";
@import "mixins";
html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-size: $fontnm;
    font-family: 'Hanken Grotesk', sans-serif;
    display: grid;
    justify-content: center;
}
h1,p,h2,h3{
    margin: 0;
}
.result_summary_wrapper{
    position: relative;
}
.result_summary_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 55%;
    justify-self: center;
    margin: 2.8125rem; // 45px
    box-shadow: 0.625rem 1.5625rem 2.1875rem $Pale_blue; // 10px 25px 35px
    border-radius: 2rem; // 32px
    @include breakpoint-down(medium){
        grid-template-columns: auto;
        margin: 0;
        width: 70%;
        margin-bottom: 20px;
    }
}
.attribution{
    font-size: 0.875rem; //14px
    text-align: center;
}