.card_imgs{
        background-image: url("../images/bg-main-desktop.png");
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
        &_1{
            position: absolute;
            left: 30%;
            top: 5%;
            .dummy_card1{
                color: $White;
                position: absolute;
                top: 0;
                height: 100%;
                display: grid;
                padding: 30px 30px;
                width: 100%;
                & > h2{
                    align-self: end;
                    font-weight: 500;
                    letter-spacing: 4px;
                }
                .name_exp{
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    font-size: 14px;
                    letter-spacing: 2px;
                }
            }
        }
        &_2{
            position: absolute;
            bottom: 10%;
            left: 50%;
            .dummy_card2{
                color: $White;
                position: absolute;
                top: 43%;
                right: 13%;
            }
        }
}  