@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import "variables";
@import "mixins";
html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
h1,h2,h3,p{
    margin: 0;
}
.card_container_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.hidden{
    display: none;
}
.visible{
    display: block !important;
}